/* line 1, ../sass/add_diary.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 5, ../sass/add_diary.scss */
.wrap_diary_block {
  overflow: hidden;
}

/* line 8, ../sass/add_diary.scss */
.wrap_diary_name {
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 10, ../sass/add_diary.scss */
.wrap_diary_name .diary_name {
  font-size: 24px;
  width: 500px;
  border: 1px solid #7ed42f;
  margin: 15px 0px;
  padding: 5px;
}
/* line 17, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 20, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus::-moz-placeholder {
  color: transparent;
}
/* line 23, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus:-moz-placeholder {
  color: transparent;
}
/* line 26, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 29, ../sass/add_diary.scss */
.wrap_diary_name .diary_name::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 32, ../sass/add_diary.scss */
.wrap_diary_name .diary_name::-moz-placeholder {
  color: #4D9808;
}
/* line 35, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:-moz-placeholder {
  color: #4D9808;
}
/* line 38, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:-ms-input-placeholder {
  color: #4D9808;
}
/* line 41, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion {
  text-align: center;
  font-size: 24px;
  width: 320px;
  border: 1px solid #7ed42f;
  margin: 15px 0px;
  padding: 5px;
}
/* line 49, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 52, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus::-moz-placeholder {
  color: transparent;
}
/* line 55, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus:-moz-placeholder {
  color: transparent;
}
/* line 58, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 61, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 64, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion::-moz-placeholder {
  color: #4D9808;
}
/* line 67, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:-moz-placeholder {
  color: #4D9808;
}
/* line 70, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:-ms-input-placeholder {
  color: #4D9808;
}

/* line 74, ../sass/add_diary.scss */
.but_create_diaries {
  text-align: center;
}
/* line 76, ../sass/add_diary.scss */
.but_create_diaries .create_diary, .but_create_diaries .save_diary {
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #7ED42F;
  margin-top: 20px;
}
/* line 85, ../sass/add_diary.scss */
.but_create_diaries .create_diary:hover, .but_create_diaries .save_diary:hover {
  cursor: pointer;
}

/* line 89, ../sass/add_diary.scss */
.error_add_diary {
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
}
