/* line 1, ../sass/add_diary.scss */
.but_create_diary {
  background-color: #7ED42F;
  width: 220px;
  height: 50px;
  font-size: 20px;
  color: white;
  margin: auto;
}

/* line 9, ../sass/add_diary.scss */
.but_create_diary:hover {
  cursor: pointer;
}

/* line 12, ../sass/add_diary.scss */
.but_create_diary_day {
  background-color: #4d9808;
  width: 270px;
  height: 50px;
  font-size: 20px;
  color: white;
  margin: 10px auto 0px auto;
}

/* line 20, ../sass/add_diary.scss */
.but_create_diary_day:hover {
  cursor: pointer;
}

/* line 23, ../sass/add_diary.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 27, ../sass/add_diary.scss */
.plus_image {
  height: 40px;
  margin: 5px;
  vertical-align: middle;
}

/* line 33, ../sass/add_diary.scss */
.wrap_diary_block {
  overflow: hidden;
}

/* line 36, ../sass/add_diary.scss */
.wrap_diary_name {
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 38, ../sass/add_diary.scss */
.wrap_diary_name .diary_name {
  font-size: 24px;
  width: 500px;
  border: 1px solid #7ed42f;
  margin: 15px 0px;
  padding: 5px;
}
/* line 45, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 48, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus::-moz-placeholder {
  color: transparent;
}
/* line 51, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus:-moz-placeholder {
  color: transparent;
}
/* line 54, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 57, ../sass/add_diary.scss */
.wrap_diary_name .diary_name::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 60, ../sass/add_diary.scss */
.wrap_diary_name .diary_name::-moz-placeholder {
  color: #4D9808;
}
/* line 63, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:-moz-placeholder {
  color: #4D9808;
}
/* line 66, ../sass/add_diary.scss */
.wrap_diary_name .diary_name:-ms-input-placeholder {
  color: #4D9808;
}
/* line 69, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion {
  text-align: center;
  font-size: 24px;
  width: 320px;
  border: 1px solid #7ed42f;
  margin: 15px 0px;
  padding: 5px;
}
/* line 77, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 80, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus::-moz-placeholder {
  color: transparent;
}
/* line 83, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus:-moz-placeholder {
  color: transparent;
}
/* line 86, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 89, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 92, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion::-moz-placeholder {
  color: #4D9808;
}
/* line 95, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:-moz-placeholder {
  color: #4D9808;
}
/* line 98, ../sass/add_diary.scss */
.wrap_diary_name .diary_count_portion:-ms-input-placeholder {
  color: #4D9808;
}

/* line 105, ../sass/add_diary.scss */
.week_day_block {
  float: left;
  width: 50%;
  border: 1px solid #7ED42F;
}
/* line 109, ../sass/add_diary.scss */
.week_day_block .title_day {
  text-align: center;
  background-color: #7ED42F;
  color: white;
  font-size: 22px;
}
/* line 115, ../sass/add_diary.scss */
.week_day_block .added_recipe {
  height: 320px;
  float: left;
  border: 1px solid white;
  background-color: #7ed42f;
}
/* line 121, ../sass/add_diary.scss */
.week_day_block .add_recipe {
  height: 320px;
  float: left;
  border: 1px solid white;
  background-color: #7ed42f;
  text-align: center;
}
/* line 127, ../sass/add_diary.scss */
.week_day_block .add_recipe img {
  width: 100px;
  margin-top: 70px;
}
/* line 131, ../sass/add_diary.scss */
.week_day_block .add_recipe .add_text {
  font-size: 18px;
  color: white;
}
/* line 136, ../sass/add_diary.scss */
.week_day_block .add_recipe:hover {
  cursor: pointer;
}
/* line 139, ../sass/add_diary.scss */
.week_day_block .close_img {
  position: relative;
  text-align: right;
}
/* line 142, ../sass/add_diary.scss */
.week_day_block .close_img .cl_img {
  width: 20px;
  position: relative;
  top: 7;
  right: 7;
}
/* line 148, ../sass/add_diary.scss */
.week_day_block .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 152, ../sass/add_diary.scss */
.week_day_block .recipe_foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin: 10px auto 0px auto;
}
/* line 159, ../sass/add_diary.scss */
.week_day_block .recipe_foto img {
  width: 180px;
  position: relative;
  left: -40px;
}
/* line 165, ../sass/add_diary.scss */
.week_day_block .recipe_name {
  text-align: center;
  color: white;
  margin: 5px 0px;
}
/* line 170, ../sass/add_diary.scss */
.week_day_block .time_to_eat, .week_day_block .count_to_eat {
  color: white;
  padding: 5px;
  text-align: center;
  width: 50%;
  float: left;
}
/* line 176, ../sass/add_diary.scss */
.week_day_block .time_to_eat input[type="text"], .week_day_block .count_to_eat input[type="text"] {
  width: 50px;
  color: white;
  border: 1px solid white;
  background-color: #7ed42f;
  text-align: center;
}
/* line 183, ../sass/add_diary.scss */
.week_day_block .time_to_eat img, .week_day_block .count_to_eat img {
  height: 40px;
  vertical-align: middle;
  margin-bottom: 5px;
}
/* line 189, ../sass/add_diary.scss */
.week_day_block .total_kkal_to_eat {
  text-align: center;
  margin: auto;
  color: white;
  float: left;
  width: 100%;
}
/* line 195, ../sass/add_diary.scss */
.week_day_block .total_kkal_to_eat .wrap_kkal_to_eat {
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: #7ED42F;
  color: white;
  border-radius: 100px;
  text-align: center;
  padding-top: 6px;
  border: 1px solid white;
}
/* line 206, ../sass/add_diary.scss */
.week_day_block .total_kkal_to_eat img {
  height: 40px;
  vertical-align: middle;
}

/* line 213, ../sass/add_diary.scss */
.week_day_d_block {
  margin: 0px auto;
  width: 50%;
  border: 1px solid #7ED42F;
}
/* line 217, ../sass/add_diary.scss */
.week_day_d_block .title_day {
  text-align: center;
  background-color: #7ED42F;
  color: white;
  font-size: 22px;
}
/* line 223, ../sass/add_diary.scss */
.week_day_d_block .added_recipe {
  height: 320;
  float: left;
  border: 1px solid white;
  background-color: #7ed42f;
}
/* line 229, ../sass/add_diary.scss */
.week_day_d_block .add_recipe {
  height: 320;
  float: left;
  border: 1px solid white;
  background-color: #7ed42f;
  text-align: center;
}
/* line 235, ../sass/add_diary.scss */
.week_day_d_block .add_recipe img {
  width: 100px;
  margin-top: 70px;
}
/* line 239, ../sass/add_diary.scss */
.week_day_d_block .add_recipe .add_text {
  font-size: 18px;
  color: white;
}
/* line 244, ../sass/add_diary.scss */
.week_day_d_block .add_recipe:hover {
  cursor: pointer;
}
/* line 247, ../sass/add_diary.scss */
.week_day_d_block .close_img {
  position: relative;
  text-align: right;
}
/* line 250, ../sass/add_diary.scss */
.week_day_d_block .close_img .cl_img {
  width: 20px;
  position: relative;
  top: 7;
  right: 7;
}
/* line 256, ../sass/add_diary.scss */
.week_day_d_block .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 260, ../sass/add_diary.scss */
.week_day_d_block .recipe_foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin: 10px auto 0px auto;
}
/* line 267, ../sass/add_diary.scss */
.week_day_d_block .recipe_foto img {
  width: 180px;
  position: relative;
  left: -40px;
}
/* line 273, ../sass/add_diary.scss */
.week_day_d_block .recipe_name {
  text-align: center;
  color: white;
  margin: 5px 0px;
}
/* line 278, ../sass/add_diary.scss */
.week_day_d_block .time_to_eat, .week_day_d_block .count_to_eat {
  color: white;
  padding: 5px;
  text-align: center;
  width: 50%;
  float: left;
}
/* line 284, ../sass/add_diary.scss */
.week_day_d_block .time_to_eat input[type="text"], .week_day_d_block .count_to_eat input[type="text"] {
  width: 50px;
  color: white;
  border: 1px solid white;
  background-color: #7ed42f;
  text-align: center;
}
/* line 291, ../sass/add_diary.scss */
.week_day_d_block .time_to_eat img, .week_day_d_block .count_to_eat img {
  height: 40px;
  vertical-align: middle;
  margin-bottom: 5px;
}
/* line 297, ../sass/add_diary.scss */
.week_day_d_block .total_kkal_to_eat {
  text-align: center;
  margin: auto;
  color: white;
  float: left;
  width: 100%;
}
/* line 303, ../sass/add_diary.scss */
.week_day_d_block .total_kkal_to_eat .wrap_kkal_to_eat {
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: #7ED42F;
  color: white;
  border-radius: 100px;
  text-align: center;
  padding-top: 6px;
  border: 1px solid white;
}
/* line 314, ../sass/add_diary.scss */
.week_day_d_block .total_kkal_to_eat img {
  height: 40px;
  vertical-align: middle;
}

/* line 321, ../sass/add_diary.scss */
.wrap_diary_block {
  overflow: hidden;
}
/* line 323, ../sass/add_diary.scss */
.wrap_diary_block .diary_name {
  width: 46%;
  background-color: #7ed42f;
  padding: 10px 0px;
  margin: 2%;
  float: left;
}
/* line 329, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .close_img {
  position: relative;
}
/* line 331, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .close_img .cl_img {
  width: 20px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
/* line 338, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 342, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .dname {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 10px 0px;
  float: left;
}
/* line 350, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .right_column {
  float: left;
  width: 30%;
}
/* line 353, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .right_column .total_kkal {
  font-size: 26px;
  color: white;
  float: left;
}
/* line 357, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .right_column .total_kkal img {
  vertical-align: middle;
  margin: 0px 15px 0px 20px;
}
/* line 362, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .right_column .diary_more {
  width: 80%;
  height: 30px;
  color: white;
  float: left;
  text-align: center;
  padding-top: 5px;
  border: 2px solid white;
  margin: 5px 3%;
  transition: all 0.3s;
}
/* line 373, ../sass/add_diary.scss */
.wrap_diary_block .diary_name .right_column .diary_more:hover {
  color: #7ed42f;
  background-color: white;
  cursor: pointer;
}
/* line 380, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day {
  width: 46%;
  background-color: #4d9808;
  padding: 10px 0px;
  margin: 2%;
  float: left;
}
/* line 386, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .close_img {
  position: relative;
}
/* line 388, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .close_img .cl_img {
  width: 20px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
/* line 395, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 399, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .dname {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 10px 0px;
  float: left;
}
/* line 407, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .right_column {
  float: left;
  width: 30%;
}
/* line 410, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .right_column .total_kkal {
  font-size: 26px;
  color: white;
  float: left;
}
/* line 414, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .right_column .total_kkal img {
  vertical-align: middle;
  margin: 0px 15px 0px 20px;
}
/* line 419, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .right_column .diary_more {
  width: 80%;
  height: 30px;
  color: white;
  float: left;
  text-align: center;
  padding-top: 5px;
  border: 2px solid white;
  margin: 5px 3%;
  transition: all 0.3s;
}
/* line 430, ../sass/add_diary.scss */
.wrap_diary_block .diary_name_day .right_column .diary_more:hover {
  color: #4d9808;
  background-color: white;
  cursor: pointer;
}

/* line 439, ../sass/add_diary.scss */
.but_create_diaries {
  text-align: center;
}
/* line 441, ../sass/add_diary.scss */
.but_create_diaries .create_diary, .but_create_diaries .save_diary {
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #7ED42F;
  margin-top: 20px;
}
/* line 450, ../sass/add_diary.scss */
.but_create_diaries .create_diary:hover, .but_create_diaries .save_diary:hover {
  cursor: pointer;
}

/* line 456, ../sass/add_diary.scss */
.error_add_diary {
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
}

/* line 464, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog {
  width: 650px;
  height: 500px;
  background-color: #7ED42F;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  margin: 40px auto;
}
/* line 472, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .close_dialog {
  position: absolute;
  right: 5;
  top: 5;
  text-align: center;
  color: white;
  height: 30px;
  width: 30px;
  text-decoration: none;
}
/* line 482, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .close_dialog:before {
  font-family: Arial;
  content: "x";
  font-size: 24px;
  color: white;
}
/* line 488, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .title_rec_dialog {
  text-align: center;
  font-size: 24px;
  color: white;
  margin: 10px 0px;
}
/* line 494, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_find {
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  font-size: 20px;
}
/* line 500, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_find input[type="text"] {
  font-size: 16px;
  border: 1px solid white;
}
/* line 504, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_find select {
  font-size: 16px;
  background-color: #7ed42f;
  border: 1px solid white;
  color: white;
}
/* line 510, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_find div {
  margin: 15px;
  float: left;
}
/* line 516, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec {
  height: 120px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 10px 0px;
}
/* line 521, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .small_img {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
}
/* line 529, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .small_img img {
  height: 100%;
  position: relative;
  left: -30;
}
/* line 535, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info {
  float: left;
  height: 100%;
  width: 518px;
  color: white;
}
/* line 540, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .title_rec_name {
  text-align: center;
  font-size: 20px;
}
/* line 544, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .rec_stat_block {
  width: 100px;
  height: 67px;
  color: white;
  padding-top: 20px;
  font-size: 20px;
  float: left;
}
/* line 551, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .rec_stat_block img {
  height: 30px;
  vertical-align: middle;
}
/* line 555, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .rec_stat_block .but_add {
  width: 100px;
  height: 30px;
  border: 1px solid white;
  background-color: #7ed42f;
  color: white;
  font-size: 16px;
}
/* line 563, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .rec_stat_block .but_add:hover {
  color: #7ed42f;
  background-color: white;
  cursor: pointer;
}
/* line 569, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .rec_stat_unblock {
  display: none;
}
/* line 572, ../sass/add_diary.scss */
#add_recipe_dialog .content_rec_dialog .rec_list .rec .rec_info .rec_left_block {
  margin-left: 14px;
}
