/* line 1, ../sass/cabinet_valid.scss */
.prov_lastname,
.prov_firstname,
.prov_middlename,
.prov_tel,
.prov_mail {
  position: absolute;
  top: 6;
  left: 300;
  width: 500px;
  font-size: 18px;
  color: red;
}
