/* line 1, ../sass/diaries.scss */
.wrap_diary_block {
  overflow: hidden;
}
/* line 3, ../sass/diaries.scss */
.wrap_diary_block .diary_name {
  width: 46%;
  background-color: #7ed42f;
  padding: 10px 0px;
  margin: 2%;
  float: left;
}
/* line 9, ../sass/diaries.scss */
.wrap_diary_block .diary_name .close_img {
  position: relative;
}
/* line 11, ../sass/diaries.scss */
.wrap_diary_block .diary_name .close_img .cl_img {
  width: 20px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
/* line 18, ../sass/diaries.scss */
.wrap_diary_block .diary_name .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 22, ../sass/diaries.scss */
.wrap_diary_block .diary_name .dname {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 10px 0px;
  float: left;
}
/* line 30, ../sass/diaries.scss */
.wrap_diary_block .diary_name .center_line {
  float: left;
  width: 100%;
  margin: 5px 0px;
}
/* line 34, ../sass/diaries.scss */
.wrap_diary_block .diary_name .center_line .total_kkal, .wrap_diary_block .diary_name .center_line .total_prot, .wrap_diary_block .diary_name .center_line .total_fats, .wrap_diary_block .diary_name .center_line .total_carb {
  width: 25%;
  font-size: 26px;
  color: white;
  float: left;
}
/* line 39, ../sass/diaries.scss */
.wrap_diary_block .diary_name .center_line .total_kkal img, .wrap_diary_block .diary_name .center_line .total_prot img, .wrap_diary_block .diary_name .center_line .total_fats img, .wrap_diary_block .diary_name .center_line .total_carb img {
  vertical-align: middle;
  margin: 0px 15px 0px 20px;
}
/* line 46, ../sass/diaries.scss */
.wrap_diary_block .diary_name .bottom_line .diary_more {
  width: 40%;
  height: 30px;
  color: white;
  float: left;
  text-align: center;
  padding-top: 5px;
  border: 2px solid white;
  margin: 5px 5%;
  transition: all 0.3s;
}
/* line 57, ../sass/diaries.scss */
.wrap_diary_block .diary_name .bottom_line .diary_more:hover {
  color: #7ed42f;
  background-color: white;
  cursor: pointer;
}
/* line 64, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day {
  width: 46%;
  background-color: #4d9808;
  padding: 10px 0px;
  margin: 2%;
  float: left;
}
/* line 70, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .close_img {
  position: relative;
}
/* line 72, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .close_img .cl_img {
  width: 20px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
/* line 79, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 83, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .dname {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 10px 0px;
  float: left;
}
/* line 91, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column {
  float: left;
  width: 30%;
}
/* line 94, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .total_kkal {
  font-size: 26px;
  color: white;
  float: left;
}
/* line 98, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .total_kkal img {
  vertical-align: middle;
  margin: 0px 15px 0px 20px;
}
/* line 103, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .diary_more {
  width: 80%;
  height: 30px;
  color: white;
  float: left;
  text-align: center;
  padding-top: 5px;
  border: 2px solid white;
  margin: 5px 3%;
  transition: all 0.3s;
}
/* line 114, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .diary_more:hover {
  color: #4d9808;
  background-color: white;
  cursor: pointer;
}

/* line 123, ../sass/diaries.scss */
.but_create_diary {
  background-color: #7ED42F;
  width: 220px;
  height: 50px;
  font-size: 20px;
  color: white;
  margin: auto;
}
/* line 130, ../sass/diaries.scss */
.but_create_diary a {
  text-decoration: none;
  color: white;
}
/* line 134, ../sass/diaries.scss */
.but_create_diary .plus_image {
  height: 40px;
  margin: 5px;
  vertical-align: middle;
}

/* line 140, ../sass/diaries.scss */
.but_create_diary:hover {
  cursor: pointer;
}
