/* line 1, ../sass/diary_day_menu.scss */
.wrap_diary_name {
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 3, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name {
  font-size: 24px;
  width: 500px;
  border: 1px solid #7ed42f;
  margin: 15px 0px;
  padding: 5px;
}
/* line 10, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 13, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name:focus::-moz-placeholder {
  color: transparent;
}
/* line 16, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name:focus:-moz-placeholder {
  color: transparent;
}
/* line 19, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 22, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 25, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name::-moz-placeholder {
  color: #4D9808;
}
/* line 28, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name:-moz-placeholder {
  color: #4D9808;
}
/* line 31, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_name:-ms-input-placeholder {
  color: #4D9808;
}
/* line 34, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion {
  text-align: center;
  font-size: 24px;
  width: 320px;
  border: 1px solid #7ed42f;
  margin: 15px 0px;
  padding: 5px;
}
/* line 42, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 45, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion:focus::-moz-placeholder {
  color: transparent;
}
/* line 48, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion:focus:-moz-placeholder {
  color: transparent;
}
/* line 51, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 54, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 57, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion::-moz-placeholder {
  color: #4D9808;
}
/* line 60, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion:-moz-placeholder {
  color: #4D9808;
}
/* line 63, ../sass/diary_day_menu.scss */
.wrap_diary_name .diary_count_portion:-ms-input-placeholder {
  color: #4D9808;
}

/* line 68, ../sass/diary_day_menu.scss */
.week_day_block {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 60%;
  border: 1px solid #7ED42F;
}
/* line 74, ../sass/diary_day_menu.scss */
.week_day_block .title_day {
  text-align: center;
  background-color: #7ED42F;
  color: white;
  font-size: 22px;
}
/* line 80, ../sass/diary_day_menu.scss */
.week_day_block .added_recipe {
  width: 239.333px;
  height: 320px;
  float: left;
  border: 1px solid white;
  background-color: #7ed42f;
  transition: all 0.3s;
}
/* line 88, ../sass/diary_day_menu.scss */
.week_day_block .added_recipe:hover {
  cursor: pointer;
  border: 7px solid white;
}
/* line 92, ../sass/diary_day_menu.scss */
.week_day_block .add_recipe {
  height: 320px;
  float: left;
  border: 1px solid white;
  background-color: #7ed42f;
  text-align: center;
}
/* line 98, ../sass/diary_day_menu.scss */
.week_day_block .add_recipe img {
  width: 100px;
  margin-top: 70px;
}
/* line 102, ../sass/diary_day_menu.scss */
.week_day_block .add_recipe .add_text {
  font-size: 18px;
  color: white;
}
/* line 107, ../sass/diary_day_menu.scss */
.week_day_block .add_recipe:hover {
  cursor: pointer;
}
/* line 110, ../sass/diary_day_menu.scss */
.week_day_block .close_img {
  position: relative;
  text-align: right;
}
/* line 113, ../sass/diary_day_menu.scss */
.week_day_block .close_img .cl_img {
  width: 20px;
  position: relative;
  top: 7;
  right: 7;
}
/* line 119, ../sass/diary_day_menu.scss */
.week_day_block .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 123, ../sass/diary_day_menu.scss */
.week_day_block .recipe_foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  margin: 10px auto 0px auto;
}
/* line 130, ../sass/diary_day_menu.scss */
.week_day_block .recipe_foto img {
  width: 180px;
  position: relative;
  left: -40px;
}
/* line 136, ../sass/diary_day_menu.scss */
.week_day_block .recipe_name {
  text-align: center;
  color: white;
  margin: 5px 0px;
}
/* line 141, ../sass/diary_day_menu.scss */
.week_day_block .wrap_recipe_stat {
  height: 85px;
}
/* line 143, ../sass/diary_day_menu.scss */
.week_day_block .wrap_recipe_stat .recipe_stats {
  width: 225px;
  margin: 0px auto;
}
/* line 146, ../sass/diary_day_menu.scss */
.week_day_block .wrap_recipe_stat .recipe_stats .recipe_stat {
  width: 75px;
  float: left;
  color: white;
  text-align: center;
}
/* line 151, ../sass/diary_day_menu.scss */
.week_day_block .wrap_recipe_stat .recipe_stats .recipe_stat img {
  width: 40px;
  margin: 5px auto;
}
/* line 158, ../sass/diary_day_menu.scss */
.week_day_block .total_kkal_to_eat {
  text-align: center;
  margin: auto;
  color: white;
  float: left;
  width: 100%;
}
/* line 164, ../sass/diary_day_menu.scss */
.week_day_block .total_kkal_to_eat .wrap_kkal_to_eat {
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: #7ED42F;
  color: white;
  border-radius: 100px;
  text-align: center;
  padding-top: 6px;
  border: 1px solid white;
}
/* line 175, ../sass/diary_day_menu.scss */
.week_day_block .total_kkal_to_eat img {
  height: 40px;
  vertical-align: middle;
}

/* line 183, ../sass/diary_day_menu.scss */
.but_create_diaries {
  text-align: center;
}
/* line 185, ../sass/diary_day_menu.scss */
.but_create_diaries .create_diary, .but_create_diaries .save_diary {
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #7ED42F;
  margin-top: 20px;
}
/* line 194, ../sass/diary_day_menu.scss */
.but_create_diaries .create_diary:hover, .but_create_diaries .save_diary:hover {
  cursor: pointer;
}

/* line 200, ../sass/diary_day_menu.scss */
.error_add_diary {
  text-align: center;
  margin: 10px 0px;
  font-size: 20px;
}
