/* line 1, ../sass/diaries.scss */
.wrap_diary_block {
  overflow: hidden;
}
/* line 3, ../sass/diaries.scss */
.wrap_diary_block .diary_name {
  width: 46%;
  background-color: #7ed42f;
  padding: 10px 0px;
  margin: 2%;
  float: left;
}
/* line 9, ../sass/diaries.scss */
.wrap_diary_block .diary_name .close_img {
  position: relative;
}
/* line 11, ../sass/diaries.scss */
.wrap_diary_block .diary_name .close_img .cl_img {
  width: 20px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
/* line 18, ../sass/diaries.scss */
.wrap_diary_block .diary_name .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 22, ../sass/diaries.scss */
.wrap_diary_block .diary_name .dname {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 10px 0px;
  float: left;
}
/* line 30, ../sass/diaries.scss */
.wrap_diary_block .diary_name .right_column {
  float: left;
  width: 30%;
}
/* line 33, ../sass/diaries.scss */
.wrap_diary_block .diary_name .right_column .total_kkal {
  font-size: 26px;
  color: white;
  float: left;
}
/* line 37, ../sass/diaries.scss */
.wrap_diary_block .diary_name .right_column .total_kkal img {
  vertical-align: middle;
  margin: 0px 15px 0px 20px;
}
/* line 42, ../sass/diaries.scss */
.wrap_diary_block .diary_name .right_column .diary_more {
  width: 80%;
  height: 30px;
  color: white;
  float: left;
  text-align: center;
  padding-top: 5px;
  border: 2px solid white;
  margin: 5px 3%;
  transition: all 0.3s;
}
/* line 53, ../sass/diaries.scss */
.wrap_diary_block .diary_name .right_column .diary_more:hover {
  color: #7ed42f;
  background-color: white;
  cursor: pointer;
}
/* line 60, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day {
  width: 46%;
  background-color: #4d9808;
  padding: 10px 0px;
  margin: 2%;
  float: left;
}
/* line 66, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .close_img {
  position: relative;
}
/* line 68, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .close_img .cl_img {
  width: 20px;
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
/* line 75, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 79, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .dname {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 28px;
  margin: 10px 0px;
  float: left;
}
/* line 87, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column {
  float: left;
  width: 30%;
}
/* line 90, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .total_kkal {
  font-size: 26px;
  color: white;
  float: left;
}
/* line 94, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .total_kkal img {
  vertical-align: middle;
  margin: 0px 15px 0px 20px;
}
/* line 99, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .diary_more {
  width: 80%;
  height: 30px;
  color: white;
  float: left;
  text-align: center;
  padding-top: 5px;
  border: 2px solid white;
  margin: 5px 3%;
  transition: all 0.3s;
}
/* line 110, ../sass/diaries.scss */
.wrap_diary_block .diary_name_day .right_column .diary_more:hover {
  color: #4d9808;
  background-color: white;
  cursor: pointer;
}

/* line 119, ../sass/diaries.scss */
.but_create_diary {
  background-color: #7ED42F;
  width: 220px;
  height: 50px;
  font-size: 20px;
  color: white;
  margin: auto;
}
/* line 126, ../sass/diaries.scss */
.but_create_diary a {
  text-decoration: none;
  color: white;
}
/* line 130, ../sass/diaries.scss */
.but_create_diary .plus_image {
  height: 40px;
  margin: 5px;
  vertical-align: middle;
}

/* line 136, ../sass/diaries.scss */
.but_create_diary:hover {
  cursor: pointer;
}
