/* line 1, ../sass/diary.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 5, ../sass/diary.scss */
.menu_day_line {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #7ED42F;
}
/* line 10, ../sass/diary.scss */
.menu_day_line .day_line {
  float: left;
  width: 14.28%;
  height: 27px;
  background-color: white;
  color: #7ED42F;
  text-align: center;
  padding-top: 5px;
  border: 1px solid #7ED42F;
}
/* line 20, ../sass/diary.scss */
.menu_day_line .day_line:hover {
  background-color: #7ED42F;
  color: white;
  cursor: pointer;
}
/* line 25, ../sass/diary.scss */
.menu_day_line .day_line_active {
  float: left;
  width: 14.28%;
  height: 27px;
  background-color: #7ED42F;
  color: white;
  text-align: center;
  padding-top: 5px;
}

/* line 36, ../sass/diary.scss */
.day_block .no_rec {
  width: 100%;
  height: 100px;
  background-color: #7ed42f;
  text-align: center;
  color: white;
  padding-top: 25px;
  font-size: 30px;
}
/* line 45, ../sass/diary.scss */
.day_block .info_zone {
  background-color: #7ED42F;
  font-size: 20px;
  color: white;
  padding-left: 20px;
}
/* line 51, ../sass/diary.scss */
.day_block .rec {
  overflow: hidden;
  border: 3px solid white;
  background-color: #7ed42f;
}
/* line 55, ../sass/diary.scss */
.day_block .rec .close_img {
  position: relative;
}
/* line 57, ../sass/diary.scss */
.day_block .rec .close_img .cl_img {
  width: 15px;
  float: right;
  margin: 5px;
  position: absolute;
  right: 0;
}
/* line 64, ../sass/diary.scss */
.day_block .rec .close_img .cl_img:hover {
  cursor: pointer;
}
/* line 68, ../sass/diary.scss */
.day_block .rec .rec_name {
  height: 30px;
  text-align: left;
  padding: 2px 10px;
  font-size: 20px;
  color: white;
  border-bottom: 1px solid white;
}
/* line 76, ../sass/diary.scss */
.day_block .rec .left_column {
  float: left;
  width: 60%;
}
/* line 79, ../sass/diary.scss */
.day_block .rec .left_column .rec_foto {
  margin: 2%;
  width: 16%;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  float: left;
}
/* line 86, ../sass/diary.scss */
.day_block .rec .left_column .rec_foto img {
  position: relative;
  left: -40px;
}
/* line 91, ../sass/diary.scss */
.day_block .rec .left_column .count_time {
  width: 20%;
  margin: 2% 0px;
  float: left;
}
/* line 95, ../sass/diary.scss */
.day_block .rec .left_column .count_time .time_to_eat, .day_block .rec .left_column .count_time .count_to_eat {
  color: white;
  padding: 5px;
  text-align: center;
  margin: auto;
}
/* line 100, ../sass/diary.scss */
.day_block .rec .left_column .count_time .time_to_eat input[type="text"], .day_block .rec .left_column .count_time .count_to_eat input[type="text"] {
  width: 50%;
  color: white;
  border: 1px solid white;
  background-color: #7ed42f;
  text-align: center;
}
/* line 107, ../sass/diary.scss */
.day_block .rec .left_column .count_time .time_to_eat img, .day_block .rec .left_column .count_time .count_to_eat img {
  width: 30%;
  vertical-align: middle;
}
/* line 113, ../sass/diary.scss */
.day_block .rec .left_column .total_kkal_to_eat {
  width: 60%;
  text-align: center;
  color: white;
  float: left;
}
/* line 118, ../sass/diary.scss */
.day_block .rec .left_column .total_kkal_to_eat .wrap_kkal_to_eat, .day_block .rec .left_column .total_kkal_to_eat .wrap_proteins_to_eat, .day_block .rec .left_column .total_kkal_to_eat .wrap_fats_to_eat, .day_block .rec .left_column .total_kkal_to_eat .wrap_carboh_to_eat {
  float: left;
  width: 21%;
  margin: 2%;
  background-color: #7ED42F;
  color: white;
  border-radius: 100px;
  text-align: center;
  border: 2px solid white;
}
/* line 128, ../sass/diary.scss */
.day_block .rec .left_column .total_kkal_to_eat img {
  height: 40px;
  vertical-align: middle;
}
/* line 134, ../sass/diary.scss */
.day_block .rec .right_column {
  float: left;
  width: 40%;
}
/* line 137, ../sass/diary.scss */
.day_block .rec .right_column .rec_ingred {
  width: 70%;
  height: 98%;
  float: left;
}
/* line 141, ../sass/diary.scss */
.day_block .rec .right_column .rec_ingred table {
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px 3% 0px 3%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
/* line 148, ../sass/diary.scss */
.day_block .rec .right_column .rec_ingred table .tab_name {
  color: white;
}
/* line 151, ../sass/diary.scss */
.day_block .rec .right_column .rec_ingred table .mass_ing {
  text-align: center;
}
/* line 156, ../sass/diary.scss */
.day_block .rec .right_column .rec_but_about {
  width: 30%;
  float: left;
}
/* line 159, ../sass/diary.scss */
.day_block .rec .right_column .rec_but_about .rec_about {
  padding-top: 4px;
  width: 80%;
  text-align: center;
  margin: 45px auto 0px auto;
  background-color: #7ED42F;
  border: 2px solid white;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 171, ../sass/diary.scss */
.day_block .rec .right_column .rec_but_about .rec_about:hover {
  cursor: pointer;
  color: #7ED42F;
  background-color: white;
}

@media screen and (min-width: 1367px) {
  /* line 181, ../sass/diary.scss */
  .rec_about {
    height: 30px;
  }

  /* line 182, ../sass/diary.scss */
  .wrap_kkal_to_eat, .wrap_proteins_to_eat, .wrap_fats_to_eat, .wrap_carboh_to_eat {
    font-size: 20px;
  }
}
@media screen and (max-width: 1366px) {
  /* line 185, ../sass/diary.scss */
  .rec_about {
    height: 30px;
  }

  /* line 186, ../sass/diary.scss */
  .wrap_kkal_to_eat, .wrap_proteins_to_eat, .wrap_fats_to_eat, .wrap_carboh_to_eat {
    font-size: 19px;
  }
}
@media screen and (max-width: 1150px) {
  /* line 189, ../sass/diary.scss */
  .rec_about {
    font-size: 14px;
    height: 30px;
  }

  /* line 190, ../sass/diary.scss */
  .wrap_kkal_to_eat, .wrap_proteins_to_eat, .wrap_fats_to_eat, .wrap_carboh_to_eat {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 193, ../sass/diary.scss */
  .info_zone {
    font-size: 18px !important;
  }

  /* line 194, ../sass/diary.scss */
  .rec_about {
    height: 30px;
  }

  /* line 195, ../sass/diary.scss */
  .rec_ingred table {
    font-size: 14px;
  }
}
@media screen and (max-width: 980px) {
  /* line 198, ../sass/diary.scss */
  .info_zone {
    font-size: 17px !important;
  }

  /* line 199, ../sass/diary.scss */
  .rec_about {
    font-size: 12px;
    height: 25px;
  }
}
@media screen and (max-width: 900px) {
  /* line 205, ../sass/diary.scss */
  .day_line {
    font-size: 14px;
  }

  /* line 206, ../sass/diary.scss */
  .info_zone {
    font-size: 16px !important;
  }

  /* line 207, ../sass/diary.scss */
  .wrap_kkal_to_eat, .wrap_proteins_to_eat, .wrap_fats_to_eat, .wrap_carboh_to_eat {
    font-size: 15px;
  }

  /* line 208, ../sass/diary.scss */
  .rec_ingred table {
    font-size: 12px;
  }
  /* line 208, ../sass/diary.scss */
  .rec_ingred table tr {
    height: 0px;
  }

  /* line 211, ../sass/diary.scss */
  .count_time .time_to_eat input[type="text"], .count_time .count_to_eat input[type="text"] {
    font-size: 12px;
  }

  /* line 216, ../sass/diary.scss */
  .rec_name {
    height: 25px !important;
    font-size: 18px !important;
  }
}
@media screen and (max-width: 800px) {
  /* line 219, ../sass/diary.scss */
  .info_zone {
    font-size: 16px !important;
  }

  /* line 220, ../sass/diary.scss */
  .rec_about {
    font-size: 10px;
  }
}
