/* line 1, ../sass/eating_plan.scss */
.section_title {
  margin: 20px 0px;
}

/* line 4, ../sass/eating_plan.scss */
.description_title {
  float: left;
  width: 100%;
  margin: 20px 0px 0px 0px;
  background-color: #7ed42f;
  color: white;
}

/* line 11, ../sass/eating_plan.scss */
.wrap_description {
  width: 90%;
  margin: 0px 5%;
  box-shadow: 0 0 5px #2b5801;
  float: left;
}
/* line 16, ../sass/eating_plan.scss */
.wrap_description .description {
  padding: 15px 30px 15px 50px;
  font-size: 25px;
  color: #4d9808;
}

/* line 22, ../sass/eating_plan.scss */
.wrap_daily_plan {
  width: 100%;
  float: left;
}
/* line 25, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan {
  width: 50%;
  background-color: #7ed42f;
  margin: 0px auto;
}
/* line 29, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_title {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
/* line 35, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_total {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  font-size: 20px;
  overflow: hidden;
}
/* line 41, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_total .total_stat {
  width: 25%;
  text-align: center;
  float: left;
  background-color: #7ed42f;
}
/* line 46, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_total .total_stat img {
  width: 35px;
  vertical-align: middle;
  margin: 5px 15px 5px 0px;
}
/* line 53, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_days {
  overflow: hidden;
}
/* line 55, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_days table {
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 80%;
  margin: 10px auto;
  font-size: 20px;
}
/* line 62, ../sass/eating_plan.scss */
.wrap_daily_plan .daily_plan .plan_days table td {
  border: 1px solid white;
}

/* line 69, ../sass/eating_plan.scss */
.stats {
  width: 100%;
  height: 70px;
  background-color: #7ed42f;
  float: left;
  margin-top: 10px;
}
/* line 75, ../sass/eating_plan.scss */
.stats .small_block_stat {
  width: 21%;
  height: 80%;
  float: left;
  margin: 0px 2%;
  font-size: 35px;
  color: white;
  margin-top: 10px;
  text-align: center;
}
/* line 84, ../sass/eating_plan.scss */
.stats .small_block_stat img {
  vertical-align: middle;
  margin-right: 9px;
}
