/* line 1, ../sass/recipes.scss */
.search_panel {
  width: 500px;
  height: 75px;
  overflow: hidden;
  margin: 20px auto;
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 7, ../sass/recipes.scss */
.search_panel .search_title {
  text-align: center;
  font-size: 22px;
  color: #7ED42F;
}
/* line 12, ../sass/recipes.scss */
.search_panel .search_button, .search_panel .fullsearch_button {
  font-size: 18px;
  padding: 3px;
  border: 1px solid #7ED42F;
  background-color: #7ED42F;
  color: white;
  margin-left: 10px;
  margin-top: 8px;
  width: 100px;
  transition: all 0.3s;
}
/* line 23, ../sass/recipes.scss */
.search_panel .search_button:hover, .search_panel .fullsearch_button:hover {
  cursor: pointer;
  background-color: white;
  color: #7ED42F;
}
/* line 28, ../sass/recipes.scss */
.search_panel .fullsearch_button {
  width: 200px;
}
/* line 31, ../sass/recipes.scss */
.search_panel .pole_search {
  font-size: 20px;
  border: 1px solid #7ED42F;
  padding: 6px;
  width: 500px;
  color: #4D9808;
}
/* line 38, ../sass/recipes.scss */
.search_panel .pole_search:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 41, ../sass/recipes.scss */
.search_panel .pole_search:focus::-moz-placeholder {
  color: transparent;
}
/* line 44, ../sass/recipes.scss */
.search_panel .pole_search:focus:-moz-placeholder {
  color: transparent;
}
/* line 47, ../sass/recipes.scss */
.search_panel .pole_search:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 50, ../sass/recipes.scss */
.search_panel .pole_search::-webkit-input-placeholder {
  color: #4D9808;
}
/* line 53, ../sass/recipes.scss */
.search_panel .pole_search::-moz-placeholder {
  color: #4D9808;
}
/* line 56, ../sass/recipes.scss */
.search_panel .pole_search:-moz-placeholder {
  color: #4D9808;
}
/* line 59, ../sass/recipes.scss */
.search_panel .pole_search:-ms-input-placeholder {
  color: #4D9808;
}
/* line 63, ../sass/recipes.scss */
.search_panel .central_block .kkal_block, .search_panel .central_block .proteins_block,
.search_panel .central_block .fats_block, .search_panel .central_block .carboh_block {
  width: 25%;
  height: 80px;
  padding-top: 20px;
  float: left;
}
/* line 69, ../sass/recipes.scss */
.search_panel .central_block .kkal_block #kkal_min, .search_panel .central_block .kkal_block #kkal_max,
.search_panel .central_block .kkal_block #proteins_min, .search_panel .central_block .kkal_block #proteins_max,
.search_panel .central_block .kkal_block #fats_min, .search_panel .central_block .kkal_block #fats_max,
.search_panel .central_block .kkal_block #carboh_min, .search_panel .central_block .kkal_block #carboh_max, .search_panel .central_block .proteins_block #kkal_min, .search_panel .central_block .proteins_block #kkal_max,
.search_panel .central_block .proteins_block #proteins_min, .search_panel .central_block .proteins_block #proteins_max,
.search_panel .central_block .proteins_block #fats_min, .search_panel .central_block .proteins_block #fats_max,
.search_panel .central_block .proteins_block #carboh_min, .search_panel .central_block .proteins_block #carboh_max,
.search_panel .central_block .fats_block #kkal_min,
.search_panel .central_block .fats_block #kkal_max,
.search_panel .central_block .fats_block #proteins_min,
.search_panel .central_block .fats_block #proteins_max,
.search_panel .central_block .fats_block #fats_min,
.search_panel .central_block .fats_block #fats_max,
.search_panel .central_block .fats_block #carboh_min,
.search_panel .central_block .fats_block #carboh_max, .search_panel .central_block .carboh_block #kkal_min, .search_panel .central_block .carboh_block #kkal_max,
.search_panel .central_block .carboh_block #proteins_min, .search_panel .central_block .carboh_block #proteins_max,
.search_panel .central_block .carboh_block #fats_min, .search_panel .central_block .carboh_block #fats_max,
.search_panel .central_block .carboh_block #carboh_min, .search_panel .central_block .carboh_block #carboh_max {
  width: 35px;
  text-align: center;
}
/* line 76, ../sass/recipes.scss */
.search_panel .central_block .kkal_block #kkal_kol, .search_panel .central_block .kkal_block #proteins_kol,
.search_panel .central_block .kkal_block #fats_kol, .search_panel .central_block .kkal_block #carboh_kol, .search_panel .central_block .proteins_block #kkal_kol, .search_panel .central_block .proteins_block #proteins_kol,
.search_panel .central_block .proteins_block #fats_kol, .search_panel .central_block .proteins_block #carboh_kol,
.search_panel .central_block .fats_block #kkal_kol,
.search_panel .central_block .fats_block #proteins_kol,
.search_panel .central_block .fats_block #fats_kol,
.search_panel .central_block .fats_block #carboh_kol, .search_panel .central_block .carboh_block #kkal_kol, .search_panel .central_block .carboh_block #proteins_kol,
.search_panel .central_block .carboh_block #fats_kol, .search_panel .central_block .carboh_block #carboh_kol {
  width: 200px;
  margin: 10px auto;
}
