a{
	text-decoration: none;
	color: white;
}
.wrap_diary_block{
	overflow: hidden;
}
.wrap_diary_name{
	text-align: center;
	.diary_name{
		font-size: 24px;
		width: 500px;
		border: 1px solid #7ed42f;
		margin: 15px 0px;
		padding: 5px;
	}
	.diary_name:focus::-webkit-input-placeholder {
		color: transparent
	}
	.diary_name:focus::-moz-placeholder{
		color: transparent
	}
	.diary_name:focus:-moz-placeholder{
		color: transparent
	}
	.diary_name:focus:-ms-input-placeholder{
		color: transparent
	}
	.diary_name::-webkit-input-placeholder{
		color: #4D9808;
	}
	.diary_name::-moz-placeholder{
		color: #4D9808;
	}/* Firefox 19+ */
	.diary_name:-moz-placeholder{
		color: #4D9808;
	}/* Firefox 18- */
	.diary_name:-ms-input-placeholder{
		color: #4D9808;
	}
	.diary_count_portion{
		text-align: center;
		font-size: 24px;
		width: 320px;
		border: 1px solid #7ed42f;
		margin: 15px 0px;
		padding: 5px;
	}
	.diary_count_portion:focus::-webkit-input-placeholder {
		color: transparent
	}
	.diary_count_portion:focus::-moz-placeholder{
		color: transparent
	}
	.diary_count_portion:focus:-moz-placeholder{
		color: transparent
	}
	.diary_count_portion:focus:-ms-input-placeholder{
		color: transparent
	}
	.diary_count_portion::-webkit-input-placeholder{
		color: #4D9808;
	}
	.diary_count_portion::-moz-placeholder{
		color: #4D9808;
	}/* Firefox 19+ */
	.diary_count_portion:-moz-placeholder{
		color: #4D9808;
	}/* Firefox 18- */
	.diary_count_portion:-ms-input-placeholder{
		color: #4D9808;
	}
}
.but_create_diaries{
	text-align: center;
	.create_diary, .save_diary{
		width: 150px;
		height: 50px;
		font-size: 20px;
		color: white;
		border: none;
		background-color: #7ED42F;
		margin-top: 20px;
	}
	.create_diary:hover, .save_diary:hover{
		cursor: pointer;
	}
}
.error_add_diary{
	text-align: center;
	margin: 10px 0px;
	font-size: 20px;
}