.but_create_diary{
	background-color: #7ED42F;
	width: 220px;
	height: 50px;
	font-size: 20px;
	color: white;
	margin: auto;
}
.but_create_diary:hover{
	cursor: pointer;
}
.but_create_diary_day{
	background-color: #4d9808;
	width: 270px;
	height: 50px;
	font-size: 20px;
	color: white;
	margin: 10px auto 0px auto;
}
.but_create_diary_day:hover{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: white;
}
.plus_image{
	height: 40px;
	margin: 5px;
	vertical-align: middle;
}

.wrap_diary_block{
	overflow: hidden;
}
.wrap_diary_name{
	text-align: center;
	.diary_name{
		font-size: 24px;
		width: 500px;
		border: 1px solid #7ed42f;
		margin: 15px 0px;
		padding: 5px;
	}
	.diary_name:focus::-webkit-input-placeholder {
		color: transparent
	}
	.diary_name:focus::-moz-placeholder{
		color: transparent
	}
	.diary_name:focus:-moz-placeholder{
		color: transparent
	}
	.diary_name:focus:-ms-input-placeholder{
		color: transparent
	}
	.diary_name::-webkit-input-placeholder{
		color: #4D9808;
	}
	.diary_name::-moz-placeholder{
		color: #4D9808;
	}/* Firefox 19+ */
	.diary_name:-moz-placeholder{
		color: #4D9808;
	}/* Firefox 18- */
	.diary_name:-ms-input-placeholder{
		color: #4D9808;
	}
	.diary_count_portion{
		text-align: center;
		font-size: 24px;
		width: 320px;
		border: 1px solid #7ed42f;
		margin: 15px 0px;
		padding: 5px;
	}
	.diary_count_portion:focus::-webkit-input-placeholder {
		color: transparent
	}
	.diary_count_portion:focus::-moz-placeholder{
		color: transparent
	}
	.diary_count_portion:focus:-moz-placeholder{
		color: transparent
	}
	.diary_count_portion:focus:-ms-input-placeholder{
		color: transparent
	}
	.diary_count_portion::-webkit-input-placeholder{
		color: #4D9808;
	}
	.diary_count_portion::-moz-placeholder{
		color: #4D9808;
	}/* Firefox 19+ */
	.diary_count_portion:-moz-placeholder{
		color: #4D9808;
	}/* Firefox 18- */
	.diary_count_portion:-ms-input-placeholder{
		color: #4D9808;
	}
}



.week_day_block{
	float: left;
	width: 50%;
	border: 1px solid #7ED42F;
	.title_day{
		text-align: center;
		background-color: #7ED42F;
		color: white;
		font-size: 22px;
	}
	.added_recipe{
		height: 320;
		float: left;
		border: 1px solid white;
		background-color: #7ed42f;
	}
	.add_recipe{
		height: 320;
		float: left;
		border: 1px solid white;
		background-color: #7ed42f;
		text-align: center;
		img{
			width: 100px;
			margin-top: 70px;
		}
		.add_text{
			font-size: 18px;
			color: white;
		}
	}
	.add_recipe:hover{
		cursor: pointer;
	}
	.close_img{
		position: relative;
		text-align: right;
		.cl_img{
			width: 20px;
			position: relative;
			top: 7;
			right: 7;
		}
		.cl_img:hover{
			cursor: pointer;
		}
	}
	.recipe_foto{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 2px solid white;
		overflow: hidden;
		margin: 10px auto 0px auto;
		img{
			width: 180px;
			position: relative;
			left: -40px;
		}
	}
	.recipe_name{
		text-align: center;
		color: white;
		margin: 5px 0px;
	}
	.time_to_eat, .count_to_eat{
		color: white;
		padding: 5px;
		text-align: center;
		width: 50%;
		float: left;
		input[type="text"]{
			width: 50px;
			color: white;
			border: 1px solid white;
			background-color: #7ed42f;
			text-align: center;
		}
		img{
			height: 40px;
			vertical-align: middle;
			margin-bottom: 5px;
		}
	}
	.total_kkal_to_eat{
		text-align: center;
		margin: auto;
		color: white;
		float: left;
		width: 100%;
		.wrap_kkal_to_eat{
			margin: auto;
			width: 50px;
			height: 50px;
			background-color: #7ED42F;
			color: white;
			border-radius: 100px;
			text-align: center;
			padding-top: 6px;
			border: 1px solid white;
		}
		img{
			height: 40px;
			vertical-align: middle;
		}
	}
}

.week_day_d_block{
	margin: 0px auto;
	width: 50%;
	border: 1px solid #7ED42F;
	.title_day{
		text-align: center;
		background-color: #7ED42F;
		color: white;
		font-size: 22px;
	}
	.added_recipe{
		height: 320;
		float: left;
		border: 1px solid white;
		background-color: #7ed42f;
	}
	.add_recipe{
		height: 320;
		float: left;
		border: 1px solid white;
		background-color: #7ed42f;
		text-align: center;
		img{
			width: 100px;
			margin-top: 70px;
		}
		.add_text{
			font-size: 18px;
			color: white;
		}
	}
	.add_recipe:hover{
		cursor: pointer;
	}
	.close_img{
		position: relative;
		text-align: right;
		.cl_img{
			width: 20px;
			position: relative;
			top: 7;
			right: 7;
		}
		.cl_img:hover{
			cursor: pointer;
		}
	}
	.recipe_foto{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 2px solid white;
		overflow: hidden;
		margin: 10px auto 0px auto;
		img{
			width: 180px;
			position: relative;
			left: -40px;
		}
	}
	.recipe_name{
		text-align: center;
		color: white;
		margin: 5px 0px;
	}
	.time_to_eat, .count_to_eat{
		color: white;
		padding: 5px;
		text-align: center;
		width: 50%;
		float: left;
		input[type="text"]{
			width: 50px;
			color: white;
			border: 1px solid white;
			background-color: #7ed42f;
			text-align: center;
		}
		img{
			height: 40px;
			vertical-align: middle;
			margin-bottom: 5px;
		}
	}
	.total_kkal_to_eat{
		text-align: center;
		margin: auto;
		color: white;
		float: left;
		width: 100%;
		.wrap_kkal_to_eat{
			margin: auto;
			width: 50px;
			height: 50px;
			background-color: #7ED42F;
			color: white;
			border-radius: 100px;
			text-align: center;
			padding-top: 6px;
			border: 1px solid white;
		}
		img{
			height: 40px;
			vertical-align: middle;
		}
	}
}

.wrap_diary_block{
	overflow: hidden;
	.diary_name{
		width: 46%;
		background-color: #7ed42f;
		padding: 10px 0px;
		margin: 2%;
		float: left;
		.close_img{
			position: relative;
			.cl_img{
				width: 20px;
				float: right;
				margin-right: 10px;
				position: absolute;
				right: 0;
			}
			.cl_img:hover{
				cursor:pointer;
			}
		}
		.dname{
			width: 70%;
			text-align: center;
			color: white;
			font-size: 28px;
			margin: 10px 0px;
			float: left;
		}
		.right_column{
			float: left;
			width: 30%;
			.total_kkal{
				font-size: 26px;
				color: white;
				float: left;
				img{
					vertical-align: middle;
					margin: 0px 15px 0px 20px;
				}
			}
			.diary_more{
				width: 80%;
				height: 30px;
				color: white;
				float: left;
				text-align: center;
				padding-top: 5px;
				border: 2px solid white;
				margin: 5px 3%;
				transition: all 0.3s;
			}
			.diary_more:hover{
				color: #7ed42f;
				background-color: white;
				cursor: pointer;
			}
		}
	}
	.diary_name_day{
		width: 46%;
		background-color: #4d9808;
		padding: 10px 0px;
		margin: 2%;
		float: left;
		.close_img{
			position: relative;
			.cl_img{
				width: 20px;
				float: right;
				margin-right: 10px;
				position: absolute;
				right: 0;
			}
			.cl_img:hover{
				cursor:pointer;
			}
		}
		.dname{
			width: 70%;
			text-align: center;
			color: white;
			font-size: 28px;
			margin: 10px 0px;
			float: left;
		}
		.right_column{
			float: left;
			width: 30%;
			.total_kkal{
				font-size: 26px;
				color: white;
				float: left;
				img{
					vertical-align: middle;
					margin: 0px 15px 0px 20px;
				}
			}
			.diary_more{
				width: 80%;
				height: 30px;
				color: white;
				float: left;
				text-align: center;
				padding-top: 5px;
				border: 2px solid white;
				margin: 5px 3%;
				transition: all 0.3s;
			}
			.diary_more:hover{
				color: #4d9808;
				background-color: white;
				cursor: pointer;
			}
		}
	}
}

.but_create_diaries{
	text-align: center;
	.create_diary, .save_diary{
		width: 150px;
		height: 50px;
		font-size: 20px;
		color: white;
		border: none;
		background-color: #7ED42F;
		margin-top: 20px;
	}
	.create_diary:hover, .save_diary:hover{
		cursor: pointer;
	}
}


.error_add_diary{
	text-align: center;
	margin: 10px 0px;
	font-size: 20px;
}


#add_recipe_dialog{
	.content_rec_dialog{
		width: 650px;
		height: 500px;
		background-color: #7ED42F;
		position: relative;
		overflow: hidden;
		overflow-y: auto;
		margin: 40px auto;
		.close_dialog{
			position: absolute;
			right: 5;
			top: 5;
			text-align: center;
			color: white;
			height: 30px;
			width: 30px;
			text-decoration: none;
		}
		.close_dialog:before{
			font-family: Arial;
			content: "x";
			font-size: 24px;
			color: white;
		}
		.title_rec_dialog{
			text-align: center;
			font-size: 24px;
			color: white;
			margin: 10px 0px;
		}
		.rec_find{
			width: 100%;
			height: 100px;
			text-align: center;
			color: white;
			font-size: 20px;
			input[type="text"]{
				font-size: 16px;
				border: 1px solid white;
			}
			select{
				font-size: 16px;
				background-color: #7ed42f;
				border: 1px solid white;
				color: white;
			}
			div{
				margin: 15px;
				float: left;
			}
		}
		.rec_list{
			.rec{
				height: 120px;
				border-bottom: 1px solid white;
				border-top: 1px solid white;
				padding: 10px 0px;
				.small_img{
					float: left;
					width: 100px;
					height: 100px;
					border: 1px solid white;
					border-radius: 50%;
					overflow: hidden;
					margin-left: 15px;
					img{
						height: 100%;
						position: relative;
						left: -30;
					}
				}
				.rec_info{
					float: left;
					height: 100%;
					width: 518px;
					color: white;
					.title_rec_name{
						text-align: center;
						font-size: 20px;
					}
					.rec_stat_block{
						width: 100px;
						height: 67px;
						color: white;
						padding-top: 20px;
						font-size: 20px;
						float: left;
						img{
							height: 30px;
							vertical-align: middle;
						}
						.but_add{
							width: 100px;
							height: 30px;
							border: 1px solid white;
							background-color: #7ed42f;
							color: white;
							font-size: 16px;
						}
						.but_add:hover{
							color: #7ed42f;
							background-color: white;
							cursor: pointer;
						}
					}
					.rec_stat_unblock{
						display: none;
					}
					.rec_left_block{
						margin-left: 14px;
					}
				}
			}
		}
	}
}