a{
	text-decoration: none;
	color: white;
}
.menu_day_line{
	width: 100%;
	height: 30px;
	color: white;
	background-color: #7ED42F;
	.day_line{
		float: left;
		width: 14.28%;
		height: 27px;
		background-color: white;
		color: #7ED42F;
		text-align: center;
		padding-top: 5px;
		border: 1px solid #7ED42F;
	}
	.day_line:hover{
		background-color:  #7ED42F;
		color: white;
		cursor: pointer;
	}
	.day_line_active{
		float: left;
		width: 14.28%;
		height: 27px;
		background-color:  #7ED42F;
		color: white;
		text-align: center;
		padding-top: 5px;
	}
}
.day_block{
	.no_rec{
		width: 100%;
		height: 100px;
		background-color: #7ed42f;
		text-align: center;
		color: white;
		padding-top: 25px;
		font-size: 30px;
	}
	.info_zone{
		background-color:  #7ED42F;
		font-size: 20px;
		color: white;
		padding-left: 20px;
	}
	.rec{
		overflow: hidden;
		border: 3px solid white;
		background-color: #7ed42f;
		.rec_name{
			text-align: left;
			padding: 2px 10px;
			font-size: 20px;
			color: white;
			border-bottom: 1px solid white;
		}
		.left_column{
			float: left;
			width: 60%;
			height: 120px;
			.rec_foto{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 2px solid white;
				overflow: hidden;
				float: left;
				margin: 10px;
				img{
					width: 180px;
					position: relative;
					left: -40px;
				}
			}
			.count_time{
				width: 20%;
				height: 120px;
				padding: 10px 0px;
				float: left;
				.time_to_eat, .count_to_eat{
					color: white;
					padding: 5px;
					text-align: center;
					margin: auto;
					input[type="text"]{
						width: 50px;
						color: white;
						border: 1px solid white;
						background-color: #7ed42f;
						text-align: center;
					}
					img{
						height: 40px;
						vertical-align: middle;
						margin-bottom: 5px;
					}
				}
			}
			
			.total_kkal_to_eat{
				width: 60%;
				text-align: center;
				margin: auto;
				color: white;
				float: left;
				margin-top: 25px;
				.wrap_kkal_to_eat, .wrap_proteins_to_eat, .wrap_fats_to_eat, .wrap_carboh_to_eat{
					float: left;
					margin: 0px 4%;
					width: 70px;
					height: 70px;
					background-color: #7ED42F;
					color: white;
					border-radius: 100px;
					text-align: center;
					padding-top: 11px;
					font-size: 20px;
					border: 2px solid white;
				}
				img{
					height: 40px;
					vertical-align: middle;
				}
			}
		}
		.right_column{
			float: left;
			width: 40%;
			height: 120px;
			.rec_ingred{
				width: 70%;
				float: left;
				table{
					font-size: 14px;
					color: white;
					width: 100%;
					height: 100%;
					padding: 0px 3% 0px 3%;
					border-left: 1px solid white;
					border-right: 1px solid white;
					.tab_name{
						color: white;
						font-size: 18px;
					}
					.mass_ing{
						width: 75px;
						text-align: center;
					}
				}
			}
			.rec_but_about{
				width: 30%;
				float: left;
				.rec_about{
					text-align: center;
					margin: 45px auto 0px auto;
					padding-top: 8px;
					width: 120px;
					height: 35px;
					background-color: #7ED42F;
					border: 2px solid white;
					color: white;
					font-size: 15px;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					transition: all 0.3s;
				}
				.rec_about:hover{
					cursor: pointer;
					color: #7ED42F;
					background-color: white;
				}
			}
		}
	}
}




