.wrap_diary_name{
	text-align: center;
	.diary_name{
		font-size: 24px;
		width: 500px;
		border: 1px solid #7ed42f;
		margin: 15px 0px;
		padding: 5px;
	}
	.diary_name:focus::-webkit-input-placeholder {
		color: transparent
	}
	.diary_name:focus::-moz-placeholder{
		color: transparent
	}
	.diary_name:focus:-moz-placeholder{
		color: transparent
	}
	.diary_name:focus:-ms-input-placeholder{
		color: transparent
	}
	.diary_name::-webkit-input-placeholder{
		color: #4D9808;
	}
	.diary_name::-moz-placeholder{
		color: #4D9808;
	}/* Firefox 19+ */
	.diary_name:-moz-placeholder{
		color: #4D9808;
	}/* Firefox 18- */
	.diary_name:-ms-input-placeholder{
		color: #4D9808;
	}
	.diary_count_portion{
		text-align: center;
		font-size: 24px;
		width: 320px;
		border: 1px solid #7ed42f;
		margin: 15px 0px;
		padding: 5px;
	}
	.diary_count_portion:focus::-webkit-input-placeholder {
		color: transparent
	}
	.diary_count_portion:focus::-moz-placeholder{
		color: transparent
	}
	.diary_count_portion:focus:-moz-placeholder{
		color: transparent
	}
	.diary_count_portion:focus:-ms-input-placeholder{
		color: transparent
	}
	.diary_count_portion::-webkit-input-placeholder{
		color: #4D9808;
	}
	.diary_count_portion::-moz-placeholder{
		color: #4D9808;
	}/* Firefox 19+ */
	.diary_count_portion:-moz-placeholder{
		color: #4D9808;
	}/* Firefox 18- */
	.diary_count_portion:-ms-input-placeholder{
		color: #4D9808;
	}
}

.week_day_block{
	overflow: hidden;
	position: relative;
	margin: auto;
	width: 60%;
	border: 1px solid #7ED42F;
	.title_day{
		text-align: center;
		background-color: #7ED42F;
		color: white;
		font-size: 22px;
	}
	.added_recipe{
		width: 239.333px;
		height: 320px;
		float: left;
		border: 1px solid white;
		background-color: #7ed42f;
		transition: all 0.3s;
	}
	.added_recipe:hover{
		cursor: pointer;
		border: 7px solid white;
	}
	.add_recipe{
		height: 320px;
		float: left;
		border: 1px solid white;
		background-color: #7ed42f;
		text-align: center;
		img{
			width: 100px;
			margin-top: 70px;
		}
		.add_text{
			font-size: 18px;
			color: white;
		}
	}
	.add_recipe:hover{
		cursor: pointer;
	}
	.close_img{
		position: relative;
		text-align: right;
		.cl_img{
			width: 20px;
			position: relative;
			top: 7;
			right: 7;
		}
		.cl_img:hover{
			cursor: pointer;
		}
	}
	.recipe_foto{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 2px solid white;
		overflow: hidden;
		margin: 10px auto 0px auto;
		img{
			width: 180px;
			position: relative;
			left: -40px;
		}
	}
	.recipe_name{
		text-align: center;
		color: white;
		margin: 5px 0px;
	}
	.wrap_recipe_stat{
		height: 85px;
		.recipe_stats{
			width: 225px;
			margin: 0px auto;
			.recipe_stat{
				width: 75px;
				float: left;
				color: white;
				text-align: center;
				img{
					width: 40px;
					margin: 5px auto;
				}
			}
		}
	}
	.total_kkal_to_eat{
		text-align: center;
		margin: auto;
		color: white;
		float: left;
		width: 100%;
		.wrap_kkal_to_eat{
			margin: auto;
			width: 50px;
			height: 50px;
			background-color: #7ED42F;
			color: white;
			border-radius: 100px;
			text-align: center;
			padding-top: 6px;
			border: 1px solid white;
		}
		img{
			height: 40px;
			vertical-align: middle;
		}
	}
}


.but_create_diaries{
	text-align: center;
	.create_diary, .save_diary{
		width: 150px;
		height: 50px;
		font-size: 20px;
		color: white;
		border: none;
		background-color: #7ED42F;
		margin-top: 20px;
	}
	.create_diary:hover, .save_diary:hover{
		cursor: pointer;
	}
}


.error_add_diary{
	text-align: center;
	margin: 10px 0px;
	font-size: 20px;
}