.back_dialog{
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: 250;
	.content_dialog{
		width: 450px;
		height: 300px;
		background-color: #7ED42F;
		position: relative;
		overflow: hidden;
		overflow-y: auto;
		margin: 40px auto;
		.close_dialog{
			position: absolute;
			right: 5;
			top: 5;
			text-align: center;
			color: white;
			height: 30px;
			width: 30px;
			text-decoration: none;
		}
		.close_dialog:before{
			font-family: Arial;
			content: "x";
			font-size: 24px;
			color: white;
		}
		.nav_dialog{
			width: 450px;
			overflow: hidden;
			.vxod, .reg{
				float: left;
				font-size: 20px;
				text-align: center;
				color: white;
				padding: 10px 0px;
			}
			.vxod:hover, .reg:hover{
				cursor: pointer;
			}
			.vxod{
				width: 135px;
			}
			.reg{
				width: 315px;
				background-color: #4D9808;
			}
		}
		.vxod_content, .reg_content{
			width: 100%;
			height: 247px;
			background-color: #7ED42F;
			float: left;
			position: absolute;
			.title_dialog{
				color: white;
				font-size: 23px;
				text-align: center;
				width: 100%;
				padding: 10px 0px;
			}
			.wrap_box{
				text-align: center;
				.prov_lastname,
				.prov_firstname,
				.prov_login,
				.prov_pass,
				.prov_pass2,
				.prov_log_log,
				.prov_log_pass{
					color: white;
				}
				.total_prov, .total_log_prov{
					color: white;
					margin-top: 10px;
				}
				.pole_log, .pole_pass, .pole_pass2,
				.pole_last, .pole_first,
				.pole_log_log, .pole_log_pass
				{
					font-size: 18px;
					padding: 8px;
					margin-top: 20px;
					width: 350px;
					border: none;
				}
				.pole_log_log:focus::-webkit-input-placeholder,
				.pole_log_pass:focus::-webkit-input-placeholder,
				.pole_first:focus::-webkit-input-placeholder,
				.pole_last:focus::-webkit-input-placeholder,
				.pole_log:focus::-webkit-input-placeholder,
				.pole_pass:focus::-webkit-input-placeholder,
				.pole_pass2:focus::-webkit-input-placeholder {
					color: transparent
				}
				.pole_log_log:focus::-moz-placeholder,
				.pole_log_pass:focus::-moz-placeholder,
				.pole_first:focus::-moz-placeholder,
				.pole_last:focus::-moz-placeholder,
				.pole_log:focus::-moz-placeholder,
				.pole_pass:focus::-moz-placeholder,
				.pole_pass2:focus::-moz-placeholder{
					color: transparent
				}
				.pole_log_log:focus:-moz-placeholder,
				.pole_log_pass:focus:-moz-placeholder,
				.pole_first:focus:-moz-placeholder,
				.pole_last:focus:-moz-placeholder,
				.pole_log:focus:-moz-placeholder,
				.pole_pass:focus:-moz-placeholder,
				.pole_pass2:focus:-moz-placeholder{
					color: transparent
				}
				.pole_log_log:focus:-ms-input-placeholder,
				.pole_log_pass:focus:-ms-input-placeholder,
				.pole_first:focus:-ms-input-placeholder,
				.pole_last:focus:-ms-input-placeholder,
				.pole_log:focus:-ms-input-placeholder,
				.pole_pass:focus:-ms-input-placeholder,
				.pole_pass2:focus:-ms-input-placeholder{
					color: transparent
				}
				.pole_log_log::-webkit-input-placeholder,
				.pole_log_pass::-webkit-input-placeholder,
				.pole_first::-webkit-input-placeholder,
				.pole_last::-webkit-input-placeholder,
				.pole_log::-webkit-input-placeholder,
				.pole_pass::-webkit-input-placeholder,
				.pole_pass2::-webkit-input-placeholder{
					color: #4D9808;
				}
				.pole_log_log::-moz-placeholder,
				.pole_log_pass::-moz-placeholder,
				.pole_first::-moz-placeholder,
				.pole_last::-moz-placeholder,
				.pole_log::-moz-placeholder,
				.pole_pass::-moz-placeholder,
				.pole_pass2::-moz-placeholder{
					color: #4D9808;
				}/* Firefox 19+ */
				.pole_log_log:-moz-placeholder,
				.pole_log_pass:-moz-placeholder,
				.pole_first:-moz-placeholder,
				.pole_last:-moz-placeholder,
				.pole_log:-moz-placeholder,
				.pole_pass:-moz-placeholder,
				.pole_pass2:-moz-placeholder{
					color: #4D9808;
				}/* Firefox 18- */
				.pole_log_log:-ms-input-placeholder,
				.pole_log_pass:-ms-input-placeholder,
				.pole_first:-ms-input-placeholder,
				.pole_last:-ms-input-placeholder,
				.pole_log:-ms-input-placeholder,
				.pole_pass:-ms-input-placeholder,
				.pole_pass2:-ms-input-placeholder{
					color: #4D9808;
				}
				.but_vxod, .but_reg{
					text-align: center;
					margin: 30px 0px 0px 0px;
					width: 100px;
					height: 35px;
					background-color: #7ED42F;
					border: 2px solid white;
					color: white;
					font-size: 15px;
					text-transform: uppercase;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					transition: all 0.3s;
				}
				.but_reg{
					width: 170px;
					background-color: #4D9808;
				}
				.but_vxod:hover{
					cursor: pointer;
					color: #7ED42F;
					background-color: white;
				}	
				.but_reg:hover{
					cursor: pointer;
					color: #4D9808;;
					background-color: white;
				}
			}
		}
		.reg_content{
			display: none;
			height: 417px;
			left: 100%;
			background-color: #4D9808;
		}
	}
}